<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="7zip"/>
  	<package id="adb"/>
  	<package id="audacity"/>
  	<package id="autohotkey"/>
  	<package id="chocolateygui"/>
  	<package id="discord"/>
  	<package id="Everything"/>
  	<package id="file-converter"/>
  	<package id="Firefox"/>
  	<package id="git"/>
  	<package id="github-desktop"/>
  	<package id="GoogleChrome"/>
  	<package id="handbrake"/>
  	<package id="microsoft-windows-terminal"/>
  	<package id="nmap"/>
  	<package id="nodejs"/>
  	<package id="notepadplusplus"/>
  	<package id="obs-studio"/>
  	<package id="powershell-core"/>
	<package id="powertoys"/>
	<package id="processhacker"/>
	<package id="python3"/>
	<package id="qbittorrent"/>
	<package id="rufus"/>
	<package id="sharex"/>
	<package id="simplewall"/>
	<package id="sysinternals"/>
	<package id="telegram"/>
	<package id="teracopy"/>
	<package id="ventoy"/>
	<package id="vlc"/>
	<package id="vscode"/>
	<package id="WhatsApp"/>
	<package id="windirstat"/>
	<package id="winscp"/>
	<package id="wireshark"/>
</packages>